# Database Configuration
DB_URI=mongodb://localhost:27017/propiz_local_db

# App Configuration
BASE_URL=http://localhost:3000
PORT=3000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key_here
ALLOWED_ORIGINS=*
GOOGLE_EMAIL=your_email@gmail.com
GOOGLE_APP_PASSWORD=your_google_app_password

# AWS S3 setup
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=your_s3_bucket_name
